---
const pageTitle = "About Jenkins Digital";
const pageDescription =
    "We are a team of passionate digital marketers dedicated to helping your business thrive in the digital age.";
---

<div class="relative pb-32 bg-gray-800">
    <div class="absolute inset-0">
        <div
            class="absolute inset-0 bg-gradient-to-r from-teal-800 to-teal-600 mix-blend-multiply"
            aria-hidden="true"
        >
        </div>
    </div>
    <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
        <h1
            class="text-4xl font-extrabold tracking-tight text-white md:text-5xl lg:text-6xl"
        >
            {pageTitle}
        </h1>
        <p class="mt-6 max-w-3xl text-xl text-gray-300">
            {pageDescription}
        </p>
    </div>
</div>
